#chat-log li.message.hide-reaction-check {
	display: none;
}

#chat-log div.item-card div.card-content.hide-reaction-check {
	display: none;
	margin: 0;
	padding: 0;
}

#token-hud .flip-tokens {
    grid-template-columns: repeat(1, 1fr);
    width: auto;

    visibility: hidden;
    position: absolute;
    left: 65px;
    top: 0;
    display: grid;
    padding: 3px;
    box-sizing: content-box;
    grid-template-columns: repeat(1, 100%);
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px var(--color-shadow-dark);
    border: 1px solid var(--color-border-dark-3);
    border-radius: 4px;
    pointer-events: all;
}

#token-hud .flip-tokens .flip-token {
    border-radius: 1px;
    color: var(--color-text-dark-1);
    cursor: pointer;
    height: 36px;
    opacity: 0.75;
    position: relative;
    width: 36px;

    margin: 0;
    padding: 0;
}

#token-hud .flip-tokens .flip-token img {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 35px;
    margin: 0;
    width: 35px;
}

#token-hud .flip-tokens.active {
    visibility: visible;
}