<div>
{{text}}
</div>
<div class="message-buttons">
    <button class="reaction-check">{{localize "pf2e-reaction.yes"}}</button>
    <button class="reaction-cancel">{{localize "pf2e-reaction.no"}}</button>
</div>